@import '../../../styles/lib/index';

$Icon-fill: $c-primary !default;
$Icon-sizes: (
  'sm': $sz-icon-s,
  'md': $sz-icon-m,
  'lg': $sz-icon-l,
  'xl': $sz-icon-xl,
);

// Output CSS
.Icon {
  display: inline-flex;
  align-self: center;
  fill: $Icon-fill;

  // Sizes
  @each $size, $value in $Icon-sizes {
    &--#{$size} {
      height: $value;
      width: $value;
    }
  }
}
