html {
  box-sizing: border-box;
}

* {
  &,
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $ff-sans-serif;
  margin: 0;
  padding: 0;
  background: $c-white;
}

* {
  -webkit-tap-highlight-color: transparent;
}
