@import '../../../styles/lib/index';

$Heading-color: $c-black !default;
$Heading-sizes: (
  'sm': 'h3',
  'md': 'h2',
  'lg': 'h1',
);

.Heading {
  color: $Heading-color;

  @each $size, $value in $Heading-sizes {
    &--#{$size} {
      @if $value == 'h3' {
        @include h3;
      } @else if $value == 'h2' {
        @include h2;
      } @else if $value == 'h1' {
        @include h1;
      } @else {
        @error 'Unknown size #{size}.';
      }
    }
  }
}
